.git
.gradle
.idea
.vscode
.codex
**/.DS_Store
**/node_modules
**/.svelte-kit
**/dist
build
docs
examples
local
archinsight-cli
archinsight-renderer
archinsight-vscode
packages/insight-language/grammar
packages/insight-language/node_modules
packages/insight-language/scripts
packages/insight-language/test
archinsight-web/src
archinsight-web/static
archinsight-web/tests
