# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle dist output directory
dist

# Ignore local files
local

# Ignore Idea project dir
.idea

# Ignore my special class for snippet testing
Test*.java

# Ignore idea compile output
out

# Ignore idea generated output
**/main/gen
**/main/generated
**/main/antlr/InsightLexer.tokens

# Ignore node modules cache
node_modules
dev-bundle
generated
vite.generated.ts
webpack.generated.js

# Ignore mac-related
.DS_Store
