{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "endOfLine": "auto",

  "overrides": [
    {
      "files": "src/app/insight-lang/WorkerManager.ts",
      "options": { "parser": "babel-ts" }
    }
  ],

  "importOrder": ["^@mui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
