.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.tile_action {
  position: relative;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.tile_action:after {
  content: "";
  background: #ffffff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -100%!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.tile_action:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}