.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.tile_action {
  position: relative;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.tile_action:after {
  content: "";
  background: #ffffff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -100%!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.tile_action:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.bg_code {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1.0) 0%, transparent 100%);
  opacity: 0.85;
  z-index: -1;
  overflow: hidden;
  font-size: 13px;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contains-errors {
  text-decoration-style: wavy;
  text-decoration-color: red;
  text-decoration-line: underline;
}

.welcome-panel {
  border-radius: 7px;
  border-color: rgb(128, 128, 128);
  border-collapse: separate;
  background-color: var(--lumo-contrast-5pct);
}