<configuration>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd.MM.yyyy HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SUPPRESS" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd.MM.yyyy HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n%nopex
            </pattern>
        </encoder>
    </appender>

    <appender name="SHORT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd.MM.yyyy HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n%ex{3}
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="org.atmosphere.cpr.AtmosphereFramework" level="INFO" additivity="false">
        <appender-ref ref="SUPPRESS" />
    </logger>
    <logger name="com.vaadin.flow.server.communication.JSR356WebsocketInitializer" level="INFO" additivity="false">
        <appender-ref ref="SUPPRESS" />
    </logger>
    <logger name="com.vaadin.flow.server.VaadinServletService" level="INFO" additivity="false">
        <appender-ref ref="SUPPRESS" />
    </logger>
    <logger name="com.github.lonelylockley.archinsight.exceptionhandling.ServiceExceptionHandler" level="INFO" additivity="false">
        <appender-ref ref="SHORT" />
    </logger>
    <!-- Debug requests -->
    <!--logger level="TRACE" name="io.micronaut.http.client" /-->

    <root level="${LOG_LEVEL}">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>
