<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd.MM.yyyy HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="SUPPRESS" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd.MM.yyyy HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n%nopex
            </Pattern>
        </layout>
    </appender>

    <appender name="SHORT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd.MM.yyyy HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n%ex{3}
            </Pattern>
        </layout>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="org.atmosphere.cpr.AtmosphereFramework" level="INFO" additivity="false">
        <appender-ref ref="SUPPRESS" />
    </logger>
    <logger name="com.vaadin.flow.server.communication.JSR356WebsocketInitializer" level="INFO" additivity="false">
        <appender-ref ref="SUPPRESS" />
    </logger>
    <logger name="com.vaadin.flow.server.VaadinServletService" level="INFO" additivity="false">
        <appender-ref ref="SUPPRESS" />
    </logger>
    <logger name="com.github.lonelylockley.archinsight.exceptionhandling.ServiceExceptionHandler" level="INFO" additivity="false">
        <appender-ref ref="SHORT" />
    </logger>
    <!-- Debug requests -->
    <!--logger level="TRACE" name="io.micronaut.http.client" /-->

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
